;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"
  "src/js"]

 :dependencies
 [[org.clojure/core.async "1.0.567"]
  [reagent "1.0.0-alpha1"]
  [reagent-utils "0.3.3"]
  [hiccup "1.0.5"]
  [frozar/roughcljs "0.2.4"]
  [cljsjs/d3 "5.12.0-0"]

  ;; dev dependencies
  [binaryage/devtools "1.0.0"]
  [philoskim/debux "0.6.5"]
  ]

 :builds
 {
  :ci
  {:target :karma
   :output-to "target/ci.js"
   }

  :app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn mikado.app/init!
                    :preloads [devtools.preload]}}
   :devtools {:http-root "public"
              :http-port 8080
              :autoload true
              :repl-init-ns mikado.app
              :repl-pprint true
              :preloads [devtools.preload]}}
  }}
