;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.9.1"]
  [reagent-utils "0.3.3"]
  [hiccup "1.0.5"]
  ]

 :builds
 {:app
  {:target :browser
   :devtools {:http-root "public"
              :http-port 8080
              :autoload true
              :repl-init-ns mikado.app
              :repl-pprint true}
   :modules {:main {:init-fn mikado.app/init!}}}}}
