;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[org.clojure/core.async "1.0.567"]
  [com.rpl/specter "1.1.3"]
  [reagent "0.9.1"]
  [reagent-utils "0.3.3"]
  [hiccup "1.0.5"]
  [frozar/roughcljs "0.2.0"]
  ]

 :builds
 {
  :ci
  {:target :karma
   :output-to "target/ci.js"
   }

  :app
  {:target :browser
   :devtools {:http-root "public"
              :http-port 8080
              :autoload true
              :repl-init-ns mikado.app
              :repl-pprint true}
   :modules {:main {:init-fn mikado.app/init!}}}}}
