/* SVG Fullscreen */
html, body {
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    overflow:hidden
}

svg { position:fixed; top:0; left:0; height:100%; width:100% }

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.button:hover, .label:hover {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
    cursor: pointer;
}

.graph_link:hover path {
    cursor: pointer;
    stroke-width: 10;
    stroke: #30f;
}

/* Avoid selection when user doule click on ellipse */
.graph_link path, .button, .label, ellipse {
    /* webkit (safari, chrome) browsers */
    -webkit-user-select: none;
    /* mozilla browsers */
    -moz-user-select: none;
    /* webkit (konqueror) browsers */
    -khtml-user-select: none;
    /* IE10+ */
    -ms-user-select: none
}
